{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}


<div class="col m-auto row d-flex justify-content-between text-center spira-color border-bottom">
  <div class="col-4"><a class="navbar-brand" href="#">
    <img src="../../static/img/spira-logo-normal.png" alt="Spira logo" height="100">
  </a></div>
  
  <div class="col-4 text-center">
    <h1 class="mt-5">Skapa ett nytt inlägg</h1>
    <h4 id="date"></h4>
  </div>

  <nav class="col-4 nav d-block">
    {% if g.user %}
    <p>Inloggad som: {{ g.user['username'] }}</p>
    <a class="btn btn-danger" href="{{ url_for('auth.logout') }}">Logga ut</a>
    <a class="btn btn-primary" href="{{ url_for('blog.create') }}">Skapa post</a>
    {% else %}
    <a class="btn btn-primary" href="{{ url_for('auth.register') }}">Registrera användare</a>
    <a class="btn btn-success" href="{{ url_for('auth.login') }}">Logga In</a>
    {% endif %}
  </nav>

</div>


<div class="container row m-auto mt-5">

  <div class="col-lg-6">
    <form method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formFile" class="form-label">Bild</label>
        <input class="form-control" type="file" id="formFile" name="filers" class="image">
        <input id="imgName" name="imgName" hidden>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Titel</label>
        <input type="text" class="form-control" name="title" id="title">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Text</label>
        <textarea class="form-control" name="body" id="body" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" id="submitForm">Publicera</button>
    </form>
  </div>

  <div class="col-lg-6" id="post-preview">
    <h3 class="spira-color text-center">Förhandsgranskning</h3>
    <div class="carousel-item active border">
      <img src="..." class="d-block w-100" id="changedFile" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 id="previewTitle"></h5>
        <p id="previewBody"></p>
      </div>
    </div>

  </div>



  <!-- Modal -->
  <div class="modal fade" id="imageCropModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="imageCropModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageCropModalLabel">Beskär bild</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="img-container">
            <div class="row">
              <div class="col-md-8">
                <!--  default image where we will set the src via jquery-->
                <img id="image">
              </div>
              <div class="col-md-4">
                <div class="preview"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
          <button type="button" class="btn btn-primary" id="crop" data-bs-dismiss="modal">Spara ändringar</button>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}