{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}


<div class="col m-auto row d-flex justify-content-between text-center spira-color border-bottom">
  <div class="col-4"><a class="navbar-brand" href="#">
      <img src="../../static/img/spira-logo-normal.png" alt="Spira logo" height="100">
    </a></div>

  <div class="col-4 text-center">
    <h1 class="mt-5">Skapa ett nytt inlägg</h1>
    <h4 id="date"></h4>
  </div>
  <div class="col-4 mt-5">
    {% if g.user %}
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Meny
      </button>
      <ul class="dropdown-menu">
        <li>
          <p class="dropdown-item">Inloggad som: {{ g.user['username'] }}</p>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="{{ url_for('blog.index') }}">Startsida</a></li>
        <li><a class="dropdown-item" href="{{ url_for('blog.create') }}">Skapa post</a></li>
        <li><a class="dropdown-item" href="{{ url_for('blog.overview') }}">Översikt</a></li>
  
        <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Registrera användare</a></li>
        <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logga ut</a></li>
      </ul>
      </li>
    </div>
    {% endif %}
  </div>
  
</div>


<div class="container row m-auto mt-5">

  <div class="col-lg-6">
    <form method="post" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formFile" class="form-label">Bild</label>
        <input class="form-control" type="file" id="formFile" name="filers" class="image">
        <input id="imgName" name="imgName" hidden>
      </div>
      <div class="mb-3">
        <label for="title" class="form-label">Titel <span id="titleCount"></span></label>
        <input type="text" class="form-control" name="title" id="title" aria-describedby="titleFeedback">
        <div id="titleFeedback" class="invalid-feedback"></div>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Text <span id="bodyCount"></span></label>
        <textarea class="form-control" name="body" id="body" rows="6" aria-describedby="bodyFeedback"></textarea>
        <div id="bodyFeedback" class="invalid-feedback"></div>
      </div>
      <button type="submit" class="btn btn-primary" id="submitForm">Publicera</button>
    </form>
  </div>

  <div class="col-lg-6" id="post-preview">
    <h3 class="spira-color text-center">Förhandsgranskning</h3>
    <div class="carousel-item active border">
      <img src="..." class="d-block w-100" id="changedFile" alt="...">
      <div class="spira-carousel-text d-none d-md-block" id="preview-background">
        <h5 id="previewTitle"></h5>
        <p id="previewBody"></p>
      </div>
    </div>

  </div>



  <!-- Modal -->
  <div class="modal fade" id="imageCropModal" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="imageCropModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="imageCropModalLabel">Beskär bild</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="img-container">
            <div class="row">
              <div class="col-md-8">
                <!--  default image where we will set the src via jquery-->
                <img id="image">
              </div>
              <div class="col-md-4">
                <div class="preview"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Stäng</button>
          <button type="button" class="btn btn-primary" id="crop" data-bs-dismiss="modal">Spara ändringar</button>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}