{% extends 'base.html' %}

{% block content %}
<div id="full-screen">
  <div class="col m-auto row d-flex justify-content-between text-center spira-color">
    <div class="col-4"><img class="img-fluid" src="../../static/img/spira-logo-normal.png" alt="Spira logo"></div>
    <div class="col-4 text-center">
      <h1 class="mt-5" id="clock"></h1>
      <h4 id="date"></h4>
    </div>
    <div class="col-4 text-center"><img class="m-auto" id="weatherIMG" height="100"
        src="../../static/img/default/png/100/01d.png" alt="weather img">
      <h3 class="m-0" id="weather"></h3>
      {% if g.user %}
      <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            Meny
          </button>
          <ul class="dropdown-menu">
            <li>
              <p class="dropdown-item">Inloggad som: {{ g.user['username'] }}</p>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{ url_for('blog.create') }}">Skapa post</a></li>
            <li><a class="dropdown-item" href="{{ url_for('blog.overview') }}">Översikt</a></li>
      
            <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Registrera användare</a></li>
            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logga ut</a></li>
          </ul>
        </li>
      </div>
      {% endif %}
    </div>
  </div>

  <div class="col m-auto ">


    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../../static/img/uploads/1656837488520.jpg" class="d-block w-100" alt="...">
          <div class="spira-carousel-text d-none d-md-block">
            <div class="carousel-text-background">
            <h1 class="spira-color p-3">Välkommen till Spira Blommor</h1>
            </div>
          </div>
        </div>
        {% for post in posts %}
        <div class="carousel-item" data-bs-interval="10000">
          <img src="../../static/img/uploads/{{ post['img_path'] }}" class="d-block w-100" alt="...">
          
          <div class="spira-carousel-text d-none d-md-block">
            <div class="carousel-text-background">
            <h1>{{ post['title'] }}</h1>
            <p class="fs-4">{{ post['body'] }}</p>
            <small>by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</small>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>




  </div>
  <div class="col m-auto bg-primary align-self-end">
    Rumsbokning
  </div>


  <video width="100%" muted id="video-frame">
    <source src="../../static/mov/Spira-info-reel.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
{% endblock %}