{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">New</a>
  {% endif %}
{% endblock %}


{% block content %}
<div class="container">
  <div class="col-10 m-auto bg-secondary">
    Väder
  </div>
  <div class="col-10 m-auto bg-dark">


    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Spira Blommor</h5>
            <p>Välkommen</p>
            
          </div>
        </div>
        {% for post in posts %}
        <div class="carousel-item">
          <img src="https://cdn.pixabay.com/photo/2015/04/19/08/32/marguerite-729510__340.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ post['title'] }}</h5>
            <p>{{ post['body'] }}</p>
            <small>by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</small>
          </div>
        </div>
  {% endfor %}
        
      </div>
    </div>

  


</div>
<div class="col-10 m-auto bg-primary align-self-end">
  Rumsbokning
</div>
</div>
{% endblock %}
