{% extends 'base.html' %}

{% block header %}
  <h1>Uppdatera</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="active" value="{{post['active']}}" id="active" {{ "checked" if 1 else "" }}>
      <label class="form-check-label" for="active">
        Aktiv om ifylld
      </label>
    </div>
    <input type="submit" value="Spara">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}