@font-face {
    font-family: carouselText;
    src: url(font/Roboto-Bold.ttf);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
}

/* Ensure the size of the image fit the container perfectly */
img {
    display: block;

    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

.info-body {
    max-width: 1080px;
}


.spira-color {
    color: #3d6638;

    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);

}

.preview {
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: 10px;
    border: 2px solid rgb(20, 149, 235);
}

#full-screen {
    position: relative;
}

#video-frame {
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}

#preview-background {
    background-color: black;
    opacity: 0.6;

}

#previewTitle {
    opacity: 1;
    color: white;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
}

#previewBody {
    opacity: 1;
    color: white;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
}

.spira-carousel-text {
    position: absolute;
    right: 0%;
    bottom: 0%;
    left: 0%;
    color: #fff;
    text-align: center;
    font-family: carouselText;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
        0px -5px 35px rgba(255, 255, 255, 0.3);
}

.carousel-text-background {
    background-color: rgba(255, 255, 255, 0.5);
}