{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col m-auto row d-flex justify-content-between text-center spira-color border-bottom">
    <div class="col-4"><a class="navbar-brand" href="#">
        <img src="../../static/img/spira-logo-normal.png" alt="Spira logo" height="100">
      </a></div>

    <div class="col-4 text-center">
      <h1 class="mt-5">Logga in</h1>
      <h4 id="date"></h4>
    </div>
    <div class="col-4 mt-5">
      {% if g.user %}
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-bs-toggle="dropdown" aria-expanded="false">
          Meny
        </button>
        <ul class="dropdown-menu">
          <li>
            <p class="dropdown-item">Inloggad som: {{ g.user['username'] }}</p>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{{ url_for('blog.index') }}">Startsida</a></li>
          <li><a class="dropdown-item" href="{{ url_for('blog.create') }}">Skapa post</a></li>
          <li><a class="dropdown-item" href="{{ url_for('blog.overview') }}">Översikt</a></li>

          <li><a class="dropdown-item" href="{{ url_for('auth.register') }}">Registrera användare</a></li>
          <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logga ut</a></li>
        </ul>
        </li>
      </div>
      {% endif %}
    </div>

  </div>
  <div class="col-lg-4 m-auto mt-5">
    {% if g.user %}
    <div class="text-center">
    <p>Du är redan inloggad som: {{ g.user['username'] }}</p>
    <a class="btn btn-danger" href="{{ url_for('auth.logout') }}">Logga ut</a>
    <hr>
    <ul class="list-group">
    <li class="list-group-item"><a href="{{ url_for('blog.index') }}">Startsida</a></li>
    <li class="list-group-item"><a href="{{ url_for('blog.create') }}">Skapa post</a></li>
    <li class="list-group-item"><a href="{{ url_for('blog.overview') }}">Översikt</a></li>
    <li class="list-group-item"><a href="{{ url_for('auth.register') }}">Registrera användare</a></li>
    </ul>
    </div>
    {% else %}
    <form method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Användarnamn</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Lösenord</label>
        <input type="password" class="form-control" name="password" id="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Logga in</button>
    </form>
    <small>Inget konto? Kontakta IT så hjälper vi dig.</small>
    {% endif %}

    
  </div>
</div>

{% endblock %}