{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
  <div class="col m-auto row d-flex justify-content-between text-center spira-color border-bottom">
    <div class="col-4"><a class="navbar-brand" href="#">
        <img src="../../static/img/spira-logo-normal.png" alt="Spira logo" height="100">
      </a></div>

    <div class="col-4 text-center">
      <h1 class="mt-5">Logga in</h1>
      <h4 id="date"></h4>
    </div>

    <nav class="col-4 nav d-block mt-5">
      {% if g.user %}
      <p>Inloggad som: {{ g.user['username'] }}</p>
      <a class="btn btn-primary" href="{{ url_for('blog.create') }}">Skapa post</a>
      <a class="btn btn-primary" href="{{ url_for('blog.overview') }}">Översikt</a>
      <a class="btn btn-danger" href="{{ url_for('auth.logout') }}">Logga ut</a>
      {% else %}
      <a class="btn btn-primary" href="{{ url_for('auth.register') }}">Registrera användare</a>
      <a class="btn btn-success" href="{{ url_for('auth.login') }}">Logga In</a>
      {% endif %}
    </nav>

  </div>
  <div class="col-lg-4 m-auto mt-5">
    {% if g.user %}
    <p>Du är redan inloggad</p>
    <a class="btn btn-danger" href="{{ url_for('auth.logout') }}">Logga ut</a>
    {% else %}
    <form method="post">
      <div class="mb-3">
        <label for="username" class="form-label">Användarnamn</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Lösenord</label>
        <input type="password" class="form-control" name="password" id="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Logga in</button>
    </form>
    {% endif %}
  </div>
</div>

{% endblock %}